/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Product Sans";
} */
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Product Sans";
  /* font-family: "Avenir"; */
}

body {
  background: #e0e0e0;
}

.modal {
  box-shadow: 0 0 10px #14be55;
  position: fixed;
  z-index: 99;
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 10px;
}

.hero-image {
  background: url("./images/background.jpg");
  height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero-content {
  padding: 150px;
}

.hero-title,
.hero-desc {
  color: white;
}

.hero-title {
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 2px;
}

.hero-desc {
  margin: 20px 10px;
  font-size: 20px;
}

.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("./images/background.jpg");
  padding: 20px;
  box-shadow: 10px 0 5px #000;
}

.logo {
}

.btn {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 14px;
}
.btn-primary {
  background: #2e86de;
  color: white;
}
.btn-login {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

.btn-register {
  border: 1px solid #14be55;
  background: transparent;
  color: #14be55;
}
.profile {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.dropdown-list {
  top: 70px;
  right: 30px;
  position: absolute;
  z-index: 99;
  width: 150px;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-item {
  /* font-weight: bold; */
  margin-bottom: 5px;
  font-size: 16px;
}

.icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.section {
  box-sizing: border-box;
  /* height: 100vh; */
  width: 90%;
  min-height: 80vh;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.journey-title {
  margin-bottom: 50px;
  font-size: 40px;
  margin-left: 50px;
}

.journey-search {
  /* margin: 0 auto; */
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 55px;
  /* margin-left: 0px; */
  height: auto;
  box-sizing: border-box;
  border: 1px solid #14be55;
  border-radius: 5px;
}

.search-input {
  /* margin-left: 10px; */
  width: 85%;
  height: 40px;
  border-top-left-radius: 5px;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  /* border-radius: 5px; */
  border: none;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
}

.btn-search {
  width: 15%;
  height: 40px;
  box-sizing: border-box;
  background: #14be55;
  color: white;
  border-radius: 0;
  margin: 0;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px; */
  /* width: 10%; */
}

.journey-grid,
.bookmark-grid {
  /* width: auto; */
  /* width: 80%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* margin: auto; */
}

.journey-card {
  margin-top: 50px;
  position: relative;
  /* border-radius: 50px; */
  /* border: 1px solid #000; */
  margin: 20px 40px;
  max-width: 300px;
  height: 300px;
  /* align-items: center; */
}

.journey-card:hover {
  box-shadow: 0 0 10px #14be55;
}

.bookmark-title {
  margin: 20px;
}

.bookmark-grid {
  margin-left: -20px;
}

.journey-alert {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2e2e2e;
  color: #ffffff;
  text-align: center;
}
.journey-card-bookmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: -5px;
}

a {
  text-decoration: none;
  color: #000;
}
.journey-card-title {
  margin: 20px 10px;
  position: absolute;
  top: 150px;
  height: 50px;
  /* background: white; */
  font-size: 16px;
  overflow: hidden;
}

.journey-card-desc {
  box-sizing: border-box;
  background: white;
  height: 300px;
  font-size: 14px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  /* padding: 10px; */
  overflow: hidden;
  padding-bottom: 20px;
  text-align: left;
  color: #777777;
}

.journey-card-desc figure {
  margin: 0;
}

.journey-card-desc figure > img {
  margin: -10px;
  width: 300px;
  height: 150px;
  object-position: center;
  object-fit: cover;
  margin-bottom: 50px;
}

.map {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}

.leaf {
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.modal-header {
  box-sizing: border-box;
  height: 150px;
  /* border: 1px solid #000; */
  text-align: center;
  padding: 40px 40px 0px;
  font-size: 30px;
}

.modal-alert {
  width: 250px;
  background: #ff4444;
  color: #ffffff;
  border-radius: 5px;
  line-height: 30px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  overflow: auto;
  /* text-align: left; */
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  margin-left: -23px;
  margin-bottom: 20px;
}
.modal-alert::-webkit-scrollbar {
  display: none;
}
/* .modal-form {
  margin: 0;
  padding: 0;
} */

.modal-body {
  box-sizing: border-box;

  /* border: 1px solid #000; */
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  /* margin: 0;
  padding: 0; */
}

label {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.form-control {
  width: 250px;
  /* height: 40px; */
  padding: 10px 10px;
  margin: 10px auto;
  border-radius: 5px;
  outline: none;
  border: 1px solid #14be55;
  /* background: #c0c0c0; */
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.modal-button {
  box-sizing: border-box;
  text-align: center;
}

.modal-button > .btn {
  margin: 10px;
  margin-bottom: 5px;
}

.modal-login-register {
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}

/* .detail-image {
  width: 100%;
  height: 100vh;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
} */
.detail-header {
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  /* width: 1100px; */
}

.detail-user {
  float: right;
  margin: 10px;
}
.detail-date {
  margin: 10px 0;
}
.detail-desc {
  border-radius: 5px;
  padding: 0px 20px 20px;
  background: #ffffff;
  font-size: 16px;
  color: #777777;
}
.detail-desc figure > img {
  width: 100%;
  height: 80vh;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
  margin: 20px 0;
}

.form-journey-title {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 16px;
}

.form-journey-btn {
  margin: 0;
  margin-top: 20px;
  float: right;
  width: 150px;
  background: #14be55;
  color: #ffffff;
}

.image-add {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.profile-title {
  margin-top: 5px;
}

.file-input {
  background: #14be55;
  color: #ffffff;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.ck-editor__editable {
  min-height: 300px;
}

.footer {
  margin-top: 100px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #14be55;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}

.empty-alert {
  margin-top: 200px;
  position: relative;
  /* top: 100%; */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #14be55;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

.css-rp8bzg-SkeletonTheme {
  display: flex;
  flex-direction: row;
}

.loading-skeleton {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  box-sizing: border-box;
  width: 100%;
}

.react-loading-skeleton {
  margin: 2px;
}
